/* CSS Document */

body {
	text-align: center;
}

div[data-role='page'] {
	background-image: url(../images/background.jpg);
	background-repeat: repeat;
	background-position: center top;
}

div[data-role='content'] h2 {
	font-size: medium;
}

div[data-role='content'] h3 {
	font-size: medium;
}

div[data-role='content'] img {
	width: 100%;
	max-width:480px;
}

li a {
     white-space:normal !important;
}​
